* {
  margin: 0;
  padding: 0;
}
body{
  font-size: 17px;
}
body a:hover{
  color: red;
}
/* body, html {
    height: 100%;
    margin: 0;
  } */
/*⭐헤더*/
#header {
  display: flex;
  width: 65%;
  position: relative;
  /* text-align: center; */
  margin: auto;
}

#logo {
  /* position: absolute;
  top: 0;
  left: 20%; */
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0px;
}

#headerFunc {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  width: 100%; 
  line-height: 100px;
  
}

#search {
  display: inline-block;
  height: 40px;
  margin: auto 20px;
  padding: 5px;
  /* border: 2px solid #0168bd;
  border-radius: 50px; */
  line-height: 40px; /* line-height를 제거하거나 기본값으로 설정 */
  font-size: 17px; /* 텍스트 크기를 적절히 조정 */
}


#searchBtn:hover{
  background-color: lightgray;
}
#a_signUp{
  margin: 0 100px 0 0;
}
#a_login{
  margin: 0 20px;
}

#header a {
  font-size: 20px;
  font-weight: 700;
}

/* 상단바 */
.TopBar {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

#logo {
  height: 90%;
  padding-left: 2%;
  padding-right: 2%;
}

#LoginInfo {
  font-size: x-large;
  font-weight: bold;
  color: gray;
  margin-left: auto;
  margin-right: 5%;
}

#search {
  width: 300px;
  height: 50px;
  margin-right: 10px;
  font-size: large;
}

#searchBtn {
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#searchBtn:hover {
  background-color: lightgray;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#header nav a {
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  color: #0168bd;
  text-decoration: none;
}

#header nav a:hover {
  text-decoration: underline;
}

/*⭐카테고리*/
#category {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  background-color: #0168bd;
  padding: 10px;
  padding-left: 200px;
}

.menu {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 50px;
}

a {
  color: black;
  text-decoration: none;
}

.menu .submenu a:hover {
  color: red;
}

.menu a {
  color: white;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  opacity: 100%;
  min-width: 150px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.submenu a {
  display: block;
  color: #333;
  padding: 6px 0;
  text-decoration: none;
}

.menu:hover .submenu {
  display: block;
}

/**********⭐바디*************/
#body {
  margin: 20px 0 10px 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

#banner {
  width: 600px;
  height: 250px;
  margin-right: 20px;
}

#login {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-left: 50px;
  line-height: 60px;
}

#psnLogin {
  width: 200px;
  height: 40px;
  margin: 50px 0 10px 0;
  color: black;
  font-size: 17px;
  font-weight: 700;
  background-color: #a5d7ff;
  border: 0px;
  border-radius: 25px;

}

#cpnLogin {
  width: 200px;
  height: 40px;
  margin: 10px 0 10px 0;
  color: black;
  font-size: 17px;
  font-weight: 700;
  background-color: #328ad2;
  border: 0px;
  border-radius: 25px;

}

#psnLogin:hover,
#cpnLogin:hover {
  background-color: lightgray;
  cursor: pointer;
  
}

#afterLogin{
  display: none;
}

.mypageBtn{
  min-width: 211px;
  height: 40px;
  padding: 10px;
  color: black;
  font-size: 17px;
  font-weight: 700;
  background-color: #b8babd;
  border: 0px;
  border-radius: 25px;
  line-height: 23px;
}
.mypageBtn:hover{
  background-color: #328ad2;
  
}

/* 공지사항 */
#notice {
  width: 600px;
  border: 2px solid black;
}

h3 {
  display: inline;
}

#notice_showall {
  float: right;
  font-size: 17px;
  font-weight: bold;
}

.notice_p {
  display: block;
  color: #191919;
}

ul {
  padding-left: 20px;
}

li {
  list-style-position: inside;
}


/* 챗봇 */
#chatBotContainer {
  width: 200px;
  height: 150px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chatBotContainer img {
  width: 100%;
  height: 70%;
  cursor: pointer;
}

/**************푸터***********/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0168bd;
  color: black;
  text-align: center;
  padding: 10px 0;
}

.footer_a {
  color: white;
  font-size: 17px;
  font-weight: 700;
  /* padding-right: 20px; */
  line-height: 50px;
}
