
.forgot-password-container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.forgot-password-form h2 {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.input-group label {
  margin-bottom: 10px;
}
